doctype html
html
  head
    title= title
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/png')
    link(rel='stylesheet', href='./stylesheets/bootstrap.css')
    link(rel='stylesheet', href='./stylesheets/app.css')
  body
    div(class="app")
      block content
